:root{
    --primary-color: #1E2A4D;
    --secondary-color: #585F9E;
}

.bg-umine{
    background-color: var(--primary-color);
}

.btn-secondary{
    background-color: var(--secondary-color)!important;
    border:1px solid var(--secondary-color)!important;
}